<footer class="footer" role="contentinfo">
  <div class="left-section">
    <span>&#64;domgiordano on Github</span>
  </div>
  <div class="middle-section" *ngIf="showDynamicButton">
    <button class="footer-button">
      {{ footerButtonText }}
    </button>
  </div>
  <div class="spacer" *ngIf="!showDynamicButton"></div>
  <div class="right-section">
    <button class="footer-button" (click)="openGitHubRepo()" aria-label="View source code on GitHub">
      Check the code out
    </button>
  </div>
</footer>
