<div class="toolbar" [ngClass]="{ 'show-dropdown': dropdownVisible }">
  <h2 class="app-title">
    <img
      class="banner-icon"
      src="assets/img/xomper-banner.jpg"
      alt="XOMPER"
      (click)="goHome()"
      style="cursor: pointer;"
    />
  </h2>

  <!-- Desktop Tabs -->
  <div class="tabs" [ngClass]="{ hidden: dropdownVisible }">
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a routerLink="/search" routerLinkActive="active">
        Search
      </a>
      <ng-container *ngIf="isLoggedIn()">
        <a *ngIf="userId" routerLink="/my-profile" [queryParams]="{ userId: userId }" routerLinkActive="active">
          My Profile
        </a>

        <!-- My League Dropdown -->
        <div *ngIf="leagueId" class="league-dropdown-wrapper">
          <a
            class="league-trigger"
            [class.active]="isLeagueRouteActive()"
            (click)="toggleLeagueDropdown($event)"
          >
            My League
            <span class="dropdown-arrow" [class.open]="leagueDropdownVisible">&#9662;</span>
          </a>
          <div class="league-dropdown" *ngIf="leagueDropdownVisible">
            <a (click)="navigateLeagueFeature('/my-league', { leagueId: leagueId, view: 'league' })">
              League Home
            </a>
            <a (click)="navigateLeagueFeature('/taxi-squad', { league: leagueId })">
              Taxi Squad
            </a>
            <a (click)="navigateLeagueFeature('/draft-history')">
              Draft History
            </a>
            <a (click)="navigateLeagueFeature('/matchup-history')">
              Scores
            </a>
            <a (click)="navigateLeagueFeature('/my-league', { leagueId: leagueId, view: 'league', tab: 'rules' })">
              Rules
            </a>
          </div>
        </div>

        <a *ngIf="teamUserName" routerLink="/my-team" [queryParams]="{ user: teamUserName, league: teamLeagueId }" routerLinkActive="active">
          My Team
        </a>
      </ng-container>
    </div>

    <button *ngIf="isLoggedIn()" class="sign-out-btn" (click)="signOut()">
      Sign Out
    </button>
  </div>

  <!-- Mobile Menu Button -->
  <div class="dropdown-button" (click)="toggleDropdown()">&#9776;</div>

  <!-- Mobile Dropdown -->
  <div class="dropdown" *ngIf="dropdownVisible">
    <a routerLink="/home" (click)="selectItem('/home')">Home</a>
    <a routerLink="/search" (click)="selectItem('/search')">Search</a>

    <ng-container *ngIf="isLoggedIn()">
      <div class="dropdown-section-header">My Stuff</div>

      <a *ngIf="userId" routerLink="/my-profile" [queryParams]="{ userId: userId }" (click)="selectItem('/my-profile')">
        My Profile
      </a>
      <a *ngIf="teamUserName" routerLink="/my-team" [queryParams]="{ user: teamUserName, league: teamLeagueId }" (click)="selectItem('/my-team')">
        My Team
      </a>

      <ng-container *ngIf="leagueId">
        <div class="dropdown-section-header">My League</div>

        <a (click)="navigateLeagueFeature('/my-league', { leagueId: leagueId, view: 'league' })">
          League Home
        </a>
        <a (click)="navigateLeagueFeature('/taxi-squad', { league: leagueId })">
          Taxi Squad
        </a>
        <a (click)="navigateLeagueFeature('/draft-history')">
          Draft History
        </a>
        <a (click)="navigateLeagueFeature('/matchup-history')">
          Scores
        </a>
        <a (click)="navigateLeagueFeature('/my-league', { leagueId: leagueId, view: 'league', tab: 'rules' })">
          Rules
        </a>
      </ng-container>

      <a class="sign-out-link" (click)="signOut()">Sign Out</a>
    </ng-container>
  </div>
</div>
